.main-login-container{
  padding-top: 200px;
}

.post-card{
  background-color: var(--card-bg);
  border: var(--card-border);
}

.post-card-inp-container{
  background-color: var(--comment-bg);
}

.post-btn{
  width: 6.2rem;
}

.icon-circle-bg {
  width: 40px;
  height: 38px; 
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #27292D;
  border-radius: 50%;
}

.hover-effect {
  cursor: pointer;
  transition: background-color 0.3s;
}

.hover-effect:hover {
  color: #ddd;
}

.custom-modal-body .loginScreen{
  background-color: var(--card-bg);
}

.custom-modal-body  .shadow-lg{
box-shadow: none;
}